BEGIN TRY

BEGIN TRAN;

-- CreateTable
CREATE TABLE [dbo].[AddressState] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(100) NOT NULL,
    [Acronym] CHAR(2) NOT NULL,
    [CountryID] INT NOT NULL,
    CONSTRAINT [pk_state_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[AppNotification] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Title] VARCHAR(100) NOT NULL,
    [Content] VARCHAR(255) NOT NULL,
    [SendDate] DATETIME NOT NULL CONSTRAINT [DF__AppNotifi__SendD__2F10007B] DEFAULT CURRENT_TIMESTAMP,
    [IsRead] BIT NOT NULL CONSTRAINT [DF__AppNotifi__IsRea__300424B4] DEFAULT 0,
    [AppUserID] INT NOT NULL,
    [TypeID] INT NOT NULL,
    CONSTRAINT [pk_notification_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Appointment] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [ScheduledDate] DATETIME NOT NULL,
    [DescriptionText] VARCHAR(255) NOT NULL,
    [IsPaid] BIT NOT NULL,
    [CreatedAt] DATETIME NOT NULL CONSTRAINT [DF__Appointme__Creat__4AB81AF0] DEFAULT CURRENT_TIMESTAMP,
    [ClientID] INT NOT NULL,
    [ServiceSuplierID] INT NOT NULL,
    [StatusID] INT NOT NULL,
    CONSTRAINT [pk_appointment_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[AppointmentStatus] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(30) NOT NULL,
    CONSTRAINT [pk_appointmentstatus_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[AppUser] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [FullName] VARCHAR(100) NOT NULL,
    [Email] VARCHAR(250) NOT NULL,
    [PasswordHash] VARCHAR(255) NOT NULL,
    [PhoneNumber] VARCHAR(20) NOT NULL,
    [BirthDate] DATE NOT NULL,
    [ProfilePhoto] VARCHAR(max),
    [Gender] CHAR(1) NOT NULL,
    [CreatedAt] DATETIME NOT NULL CONSTRAINT [DF__AppUser__Created__1CF15040] DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT [pk_user_id] PRIMARY KEY CLUSTERED ([ID]),
    CONSTRAINT [UQ__AppUser__A9D1053465D780DB] UNIQUE NONCLUSTERED ([Email]),
    CONSTRAINT [UQ__AppUser__85FB4E388D67A251] UNIQUE NONCLUSTERED ([PhoneNumber])
);

-- CreateTable
CREATE TABLE [dbo].[ChatMessage] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Content] VARCHAR(max) NOT NULL,
    [SendDate] DATETIME NOT NULL CONSTRAINT [DF__ChatMessa__SendD__5AEE82B9] DEFAULT CURRENT_TIMESTAMP,
    [MediaUrl] VARCHAR(max),
    [AppointmentID] INT NOT NULL,
    [AuthorID] INT NOT NULL,
    [TypeID] INT NOT NULL,
    CONSTRAINT [pk_message_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[City] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(100) NOT NULL,
    [StateID] INT NOT NULL,
    CONSTRAINT [pk_city_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Country] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(100) NOT NULL,
    [Acronym] CHAR(3) NOT NULL,
    [DDI] INT NOT NULL,
    CONSTRAINT [pk_country_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Highlight] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Content] VARCHAR(50) NOT NULL,
    [Icon] VARCHAR(100),
    CONSTRAINT [pk_highlight_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[MessageType] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(10) NOT NULL,
    CONSTRAINT [pk_messagetype_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Neighborhood] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(100) NOT NULL,
    [CityID] INT NOT NULL,
    CONSTRAINT [pk_neighborhood_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[NotificationSetting] (
    [General] BIT NOT NULL CONSTRAINT [DF__Notificat__Gener__24927208] DEFAULT 1,
    [Sound] BIT NOT NULL CONSTRAINT [DF__Notificat__Sound__25869641] DEFAULT 1,
    [Vibrate] BIT NOT NULL CONSTRAINT [DF__Notificat__Vibra__267ABA7A] DEFAULT 1,
    [Offers] BIT NOT NULL CONSTRAINT [DF__Notificat__Offer__276EDEB3] DEFAULT 1,
    [Payments] BIT NOT NULL CONSTRAINT [DF__Notificat__Payme__286302EC] DEFAULT 1,
    [Cashback] BIT NOT NULL CONSTRAINT [DF__Notificat__Cashb__29572725] DEFAULT 1,
    [AppUserID] INT NOT NULL,
    CONSTRAINT [pk_notificationsetting_id] PRIMARY KEY CLUSTERED ([AppUserID])
);

-- CreateTable
CREATE TABLE [dbo].[NotificationType] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(20) NOT NULL,
    CONSTRAINT [pk_notificationtype_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Payment] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Value] DECIMAL(10,2) NOT NULL,
    [PaymentDate] DATETIME NOT NULL,
    [AppointmentID] INT NOT NULL,
    [StatusID] INT NOT NULL,
    [MethodID] INT NOT NULL,
    CONSTRAINT [pk_payment_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[PaymentMethod] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(20) NOT NULL,
    CONSTRAINT [pk_paymentmethod_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[PaymentStatus] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(30) NOT NULL,
    CONSTRAINT [pk_paymentstatus_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[Review] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Rate] INT NOT NULL,
    [Comment] VARCHAR(500) NOT NULL,
    [SendDate] DATETIME NOT NULL CONSTRAINT [DF__Review__SendDate__3B75D760] DEFAULT CURRENT_TIMESTAMP,
    [AppUserID] INT NOT NULL,
    [ServiceSuplierID] INT NOT NULL,
    CONSTRAINT [pk_review_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[ServiceCategory] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Name] VARCHAR(50) NOT NULL,
    [Icon] VARCHAR(100),
    CONSTRAINT [pk_servicecategory_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[ServiceSuplier] (
    [ServiceSuplierID] INT NOT NULL,
    [FocusDescription] VARCHAR(255) NOT NULL,
    [Bio] VARCHAR(100) NOT NULL,
    [Experience] VARCHAR(max) NOT NULL,
    [RatingAvarege] FLOAT(53) NOT NULL CONSTRAINT [DF__ServiceSu__Ratin__36B12243] DEFAULT 0,
    [ServiceCategoryID] INT NOT NULL,
    CONSTRAINT [pk_servicesuplier_id] PRIMARY KEY CLUSTERED ([ServiceSuplierID])
);

-- CreateTable
CREATE TABLE [dbo].[ServiceSuplierAvailability] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [DayWeek] INT NOT NULL,
    [StartTime] TIME NOT NULL,
    [EndTime] TIME NOT NULL,
    [ServiceSuplierID] INT NOT NULL,
    CONSTRAINT [pk_avaibility_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[ServiceSuplierHighlight] (
    [HighlightID] INT NOT NULL,
    [ServiceSuplierID] INT NOT NULL,
    CONSTRAINT [pk_servicehighlight_id] PRIMARY KEY CLUSTERED ([HighlightID],[ServiceSuplierID])
);

-- CreateTable
CREATE TABLE [dbo].[UserAddress] (
    [ID] INT NOT NULL IDENTITY(1,1),
    [Street] VARCHAR(100) NOT NULL,
    [Number] VARCHAR(20) NOT NULL,
    [Complement] VARCHAR(50),
    [ZipCode] VARCHAR(15) NOT NULL,
    [NeighborhoodID] INT NOT NULL,
    [AppUserID] INT NOT NULL,
    CONSTRAINT [pk_address_id] PRIMARY KEY CLUSTERED ([ID])
);

-- CreateTable
CREATE TABLE [dbo].[UserFavoriteServiceSuplier] (
    [AppUserID] INT NOT NULL,
    [ServiceSuplierID] INT NOT NULL,
    CONSTRAINT [pk_userfavorite_id] PRIMARY KEY CLUSTERED ([AppUserID],[ServiceSuplierID])
);

-- AddForeignKey
ALTER TABLE [dbo].[AddressState] ADD CONSTRAINT [FK__AddressSt__Count__1273C1CD] FOREIGN KEY ([CountryID]) REFERENCES [dbo].[Country]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[AppNotification] ADD CONSTRAINT [FK__AppNotifi__AppUs__30F848ED] FOREIGN KEY ([AppUserID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[AppNotification] ADD CONSTRAINT [FK__AppNotifi__TypeI__31EC6D26] FOREIGN KEY ([TypeID]) REFERENCES [dbo].[NotificationType]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Appointment] ADD CONSTRAINT [FK__Appointme__Clien__4BAC3F29] FOREIGN KEY ([ClientID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Appointment] ADD CONSTRAINT [FK__Appointme__Servi__4CA06362] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[ServiceSuplier]([ServiceSuplierID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Appointment] ADD CONSTRAINT [FK__Appointme__Statu__4D94879B] FOREIGN KEY ([StatusID]) REFERENCES [dbo].[AppointmentStatus]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ChatMessage] ADD CONSTRAINT [FK__ChatMessa__Appoi__5BE2A6F2] FOREIGN KEY ([AppointmentID]) REFERENCES [dbo].[Appointment]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ChatMessage] ADD CONSTRAINT [FK__ChatMessa__Autho__5CD6CB2B] FOREIGN KEY ([AuthorID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ChatMessage] ADD CONSTRAINT [FK__ChatMessa__TypeI__5DCAEF64] FOREIGN KEY ([TypeID]) REFERENCES [dbo].[MessageType]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[City] ADD CONSTRAINT [FK__City__StateID__15502E78] FOREIGN KEY ([StateID]) REFERENCES [dbo].[AddressState]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Neighborhood] ADD CONSTRAINT [FK__Neighborh__CityI__182C9B23] FOREIGN KEY ([CityID]) REFERENCES [dbo].[City]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[NotificationSetting] ADD CONSTRAINT [FK__Notificat__AppUs__2A4B4B5E] FOREIGN KEY ([AppUserID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [FK__Payment__Appoint__5441852A] FOREIGN KEY ([AppointmentID]) REFERENCES [dbo].[Appointment]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [FK__Payment__MethodI__5629CD9C] FOREIGN KEY ([MethodID]) REFERENCES [dbo].[PaymentMethod]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [FK__Payment__StatusI__5535A963] FOREIGN KEY ([StatusID]) REFERENCES [dbo].[PaymentStatus]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Review] ADD CONSTRAINT [FK__Review__AppUserI__3C69FB99] FOREIGN KEY ([AppUserID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Review] ADD CONSTRAINT [FK__Review__ServiceS__3D5E1FD2] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[ServiceSuplier]([ServiceSuplierID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ServiceSuplier] ADD CONSTRAINT [FK__ServiceSu__Servi__37A5467C] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ServiceSuplier] ADD CONSTRAINT [FK__ServiceSu__Servi__38996AB5] FOREIGN KEY ([ServiceCategoryID]) REFERENCES [dbo].[ServiceCategory]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ServiceSuplierAvailability] ADD CONSTRAINT [FK__ServiceSu__Servi__403A8C7D] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[ServiceSuplier]([ServiceSuplierID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ServiceSuplierHighlight] ADD CONSTRAINT [FK__ServiceSu__Highl__44FF419A] FOREIGN KEY ([HighlightID]) REFERENCES [dbo].[Highlight]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[ServiceSuplierHighlight] ADD CONSTRAINT [FK__ServiceSu__Servi__45F365D3] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[ServiceSuplier]([ServiceSuplierID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[UserAddress] ADD CONSTRAINT [FK__UserAddre__AppUs__21B6055D] FOREIGN KEY ([AppUserID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[UserAddress] ADD CONSTRAINT [FK__UserAddre__Neigh__20C1E124] FOREIGN KEY ([NeighborhoodID]) REFERENCES [dbo].[Neighborhood]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[UserFavoriteServiceSuplier] ADD CONSTRAINT [FK__UserFavor__AppUs__60A75C0F] FOREIGN KEY ([AppUserID]) REFERENCES [dbo].[AppUser]([ID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[UserFavoriteServiceSuplier] ADD CONSTRAINT [FK__UserFavor__Servi__619B8048] FOREIGN KEY ([ServiceSuplierID]) REFERENCES [dbo].[ServiceSuplier]([ServiceSuplierID]) ON DELETE NO ACTION ON UPDATE NO ACTION;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

